<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyq.project_springboot.mapper.GoodsMapper">
    <insert id="insertGoods" useGeneratedKeys="true" keyProperty="id">
        insert into `t_goods`(`user_id`,`name`,`detail`,`category`,`sales_volume`) values(#{userId},#{name},#{detail},#{category},#{salesVolume})
    </insert>

    <update id="updateGoodsDeleteState">
        update `t_goods` set `is_delete` = #{deleteState.value} where `id` = #{goodsId}
    </update>

    <update id="updateGoodsState">
        update `t_goods` set `state` = #{state.value} where `id` = #{goodsId}
    </update>

    <select id="selectGoods" resultMap="goodsResultMap">
        select * from `t_goods` where id = #{goodsId} and `state` = 1 and `is_delete` = 0
    </select>

    <select id="selectGoodsListByCriteria" resultMap="goodsResultMap">
        select * from `t_goods`
        <where>
            <if test="name != '' and name != null">
                and `name` like concat("%",#{name},"%")
            </if>
            <if test="userId != 0">
                and `user_id` = #{userId}
            </if>
            <if test="category != 0">
                and `category` = #{category}
            </if>
            <if test="state.value != null">
                and `state` = #{state.value}
            </if>
            <if test="isDelete != null">
                and `is_delete` = #{isDelete.value}
            </if>
        </where>
    </select>

    <select id="selectUnauditedGoodsList" resultMap="goodsResultMap">
        select * from `t_goods` where `state` = 0 and `is_delete` = 0
    </select>

    <select id="selectGoodsListByAccountName" resultMap="goodsResultMap">
        select * from `t_goods` where `user_id` in(select `id` from `t_user` where `account_name` like concat("%",#{accountName},"%")) and `is_delete` = 0
    </select>

    <resultMap id="goodsResultMap" type="com.wyq.project_springboot.entity.Goods">
        <id property="id" column="id"></id>
        <result property="state" column="state" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>
        <result property="isDelete" column="is_delete" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>
    </resultMap>
</mapper>